<!-- FOOTER -->
<footer class="mt-4 pb-2 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-7 small d-flex align-items-end">
                작성
            </div>
            <div class="col-5 small fw-bold text-end footer-company-link d-flex justify-content-end align-items-end">
                <div class="row">
                    <div class="col">
                        작성
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->