<!-- HEADER -->
<header class="mb-2">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-left">
                <a class="navbar-brand fw-bold" href="<%- opengraph.site.url %>">
                    <img src="/asset/image/icon/48/favicon.png" alt="<%- opengraph.site.name %>" width="48" height="48">
                    <%- opengraph.site.name %>
                </a>
            </div>
            <div class="navbar-right d-flex justify-content-end align-items-center">
                <p style="font-size: .75rem; vertical-align: baseline;" class="d-none d-sm-block"> 
                    LEFT
                </p>
                <p style="font-size: .75rem; vertical-align: baseline;" class="d-none d-sm-block ms-3">
                    RIGHT
                </p>
            </div>
        </div>
      </nav>
</header>
<!-- HEADER -->