<!-- HEADER -->
<header class="mb-2">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-left d-flex justify-content-start align-items-center">
                <a class="navbar-brand fw-bold d-flex align-items-center" href="<%- opengraph.site.url %>">
                    <img src="/asset/image/icon/48/favicon.png" alt="<%- opengraph.site.name %>" width="24" height="24" class="me-2">
                    <%- opengraph.site.name %>
                </a>
                <span style="font-size: .75rem;">
                    We deliver news related to artificial intelligence.
                </span>
            </div>
            <div class="navbar-right d-flex justify-content-end align-items-center">
                <p style="font-size: .75rem; vertical-align: baseline;" class="d-none d-sm-block"> 
                    <a href="/subscribe.html" class="fw-bold">Subscribe</a>
                </p>
            </div>
        </div>
      </nav>
</header>
<!-- HEADER -->