<form id="subscription" class="needs-validation subscription" novalidate>
    <!-- TITLE -->
    <div class="row mb-5">
        <div class="col text-center">
            <h1 class="fw-bold">
                Welcome back
                <!-- 좋은 것을 어떻게 해결해야 할까? -->
            </h1>
            <p class="small">Thank for using our service</p>
        </div>
    </div>
    <!-- TITLE -->
    <!-- IMAGE -->
    <div class="row mb-5">
        <div class="col text-center">
            <img width="160" src="/asset/image/undraw_appreciation_hhh7.svg">
        </div>
    </div>
    <!-- IMAGE -->
    <!-- SOCIAL -->
    <div class="row mb-4">
        <div class="col small text-center">
            Sign in using an account you already have.
        </div>
    </div>
    <div class="row mb-4">
        <div class="col text-center">
            <a href="#"><img width="48" src="/asset/image/button/google.png"></a>
        </div>
    </div>
    <!-- SOCIAL -->
    <!-- HORIZONTAL -->
    <div class="row mb-2">
        <div class="col">
            <hr />
        </div>
    </div>
    <!-- HORIZONTAL -->
    <!-- FORM -->
    <div class="row p-4">
        <div class="col">
            <div class="row mb-2">
                <div class="col">
                    <label for="email" class="form-label small fw-bold">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="name@example.com or id" required>
                    <div class="invalid-feedback">
                        Please enter a email or id.
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="password" class="form-label small fw-bold">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="password" required>
                    <div class="invalid-feedback">
                        Please enter a password.
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col small text-end">
                    <a href="forgot">Forgot password?</a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </div>
    </div>
    <!-- FORM -->
    <!-- SIGNUP -->
    <div class="row mb-2">
        <div class="col text-center small">
            If you don't have an account?
        </div>
    </div>
    <div class="row">
        <div class="col text-center small">
            <a href="/signup">signup</a>
        </div>
    </div>
    <!-- SIGNUP -->
</form>